$padding-h: 15px;

.item-native {
  padding-left: 0;
}
.icon {
  padding-right: 15px;
}
.accordionArea {
  max-height: 0;
  padding: 0 $padding-h;
  overflow: hidden;
  transition: max-height 0.1s;

  .inner {
    padding: 5px;
  }
  &.is-open {
    max-height: 130px;
  }
}
